.form23{
    border: 3px black;
    height: fit-content;
    background-color: brown;
    width: 100%;

}

.form1{
    border: 3px black;
    height: fit-content;
    border-style: solid;
    width: 100%;

}